

    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-heading">WE ARE CLOSE TO YOU ONE </h2>

      </div>
    </div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img src="../../assets/images/mobile_phones@1x.png">
        </div>
      </div>
    </div>


<br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<h5>polish hurry and technophile...three,two,one...Fire!
  Our appis availabele on your smartphones! <br>
  you can also make an appoiment on our mobile</h5>
          <div class="row col-12">

              <img src="../../assets/images/ic_available_google_play_normal@1x.png">

              <img src="../../assets/images/ic_available_app_store_norml@1x.png">
              <br><br><br><br>
              <section class="page-section cta">

                  <div class="row-sm-6-right">
                      <div class="cta-inner text-center ">

                        <button type="button" class="btn btn-danger">I RESERVE</button>
                      </div>

                    </div>



              </section>
</div>


        </div>





