


    <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto text-center">
              <h1 class="section-heading">SUBSCRIBE TO OUR NEWLETTRE</h1>
              <hr class="my-12">
              <p class="mb-5">Stay informed about us , news and events</p>
            </div>
          </div>
          <br> <br> <br> <br>
          <div class="row">
            <div class="col-lg-8 ml-auto text-center">
                <input type="text" class="form-control" placeholder="Your email" >
                  </div>
                  <div class="col-lg-1 ml-auto text-center">
                      <button type="button" class="btn btn-dark mb-4">send</button>
                 </div>

            </div>
          </div>

      </section>

<br><br><br><br>


              <div class="button-row-col-md-12">

                <button mat-button>Basic</button>
                <button mat-button color="primary">HOME</button>
                <button mat-button color="accent">OUR SERVICES</button>
                <button mat-button color="warn">OFFER</button>
                <button mat-button color="warn">My ACCOUNT</button>
                <button mat-button color="warn">PRO</button>
                <button mat-button color="warn">CONTACT US</button>
                <button mat-button color="accent">PL</button>
              </div>


