

<mat-toolbar class= "transparent">
    <mat-toolbar-row>
      <div class="row">
        <div class="col-12">
          <img src="../../assets/images/logo_slider_home@1x.png">
        </div>


      <span class="col-md-12"></span>

      <button mat-button>HOME</button>
      <button mat-button>OUR SERVICES</button>
      <button mat-button>OFFER</button>
      <button mat-button>My ACCOUNT</button>
      <button mat-button>PRO</button>
      <button mat-button>CONTACT US</button>
      <button mat-button>PL</button>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <br>
  <br><br>
  <br>
  <br><br>
  <br>
  <br><br>
  <br>
  <br>
  <div class="container">
  <section class="page-section cta">

        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">PAMPER YOURSELF PRETTY</span>
              </h2>
              <p class="mb-0">
                <p >Treat yourself to one of our signature services.Our beloved beauty
                  experts will wo your brows, get you glowin and so much more.You'll
                        leave lookig and feeling more gorgeous than ever befor</p>
                        <br>
  <br><br>
  <br>
  <br><br>
              <button type="button" class="btn btn-outline-light">I RESERVE</button>
            </div>

          </div>

        </div>

    </section>
  </div>
